In [1]:
import pandas as pd

meta = pd.read_csv("../data/human/IBD_metadata.csv")
meta = meta.set_index("Participant_ID")
meta.head()

                External_ID Biopsy_location Diagnosis  Gender
Participant_ID
C3002                206618   Sigmoid Colon        CD  Female
C3003                206622   Sigmoid Colon        UC  Female
C3004                206625   Sigmoid Colon        UC  Female
C3005                206628          Rectum        UC  Female
C3006                206630          Rectum        UC    Male

In [2]:
bacteria_abundance = pd.read_csv("../data/bacteria/IBD_bacteria_abundance_rna_ID.csv")
bacteria_abundance = bacteria_abundance.set_index("Participant_ID")
bacteria_abundance.head()

,UncTepi3,Unc004ii,Unc00re8,Unc018j2,Unc58370,Unc05fip,Unc02ae9,GV2Pseu5,Unc02q5c,Unc003tx,...,LcbReu47,H9DLute2,Unc01oix,Unc02eb1,UncB1465,Unc63248,Unc01505,Unc00bs1,Unc002ze,UncRumi6
Participant_ID,,,,,,,,,,,,,,,,,,,,,
C3002,0,0,0,1,2,0,0,8,0,12,...,0,0,0,0,0,0,481,0,0,0
C3003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,16,0,0,0
C3004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,117,0,0,0
C3005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,63,0,0,0
C3006,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,134,0,0,0

In [3]:
gene_expression = pd.read_csv("../data/human/IBD_gene_expression_selection1.csv")
gene_expression = gene_expression.set_index("Participant_ID")
gene_expression.head()

,ABCB1,ABCG2,ABCC1,ABCC2,ABCC3,ABCC4,SLC10A2,SLC15A1,SLC16A1,SLC22A1,...,SLC51B,SLCO2B1,CYP1A2,CYP2A6,CYP2D6,CYP2E1,CYP3A4,CYP3A5,SULT1A1,SULT1A3
Participant_ID,,,,,,,,,,,,,,,,,,,,,
C3002,2265,2263,1393,10,6438,688,13,113,6464,4,...,1271,1984,0,0,21,2,44,1529,3252,4
C3003,8076,8286,1200,17,8237,2374,25,110,14695,3,...,2155,3316,0,1,49,5,379,1312,2606,1
C3004,1144,850,1896,20,5595,2031,3,77,5395,6,...,747,5416,0,0,78,12,233,750,978,1
C3005,4160,617,1072,22,11262,634,17,256,2643,10,...,1341,1020,0,0,16,4,296,11824,1707,1
C3006,608,811,2924,41,4544,1582,6,559,1614,10,...,692,3759,1,1,35,7,124,1485,1114,1

In [4]:
model_dataset = meta.join(bacteria_abundance).join(gene_expression)
model_dataset.to_csv("../data/model/IBD_model_dataset_rna_ID.csv")