In [1]:
import pandas as pd

expression = pd.read_csv("../data/human/Priya_table_S14.csv")
expression = expression.set_index("Unnamed: 0")
expression.index.name = "human_gene"
expression = expression.transpose()
expression.index.name = "Participant_ID"
expression.head()

human_gene,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,...,ZW10,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1
Participant_ID,,,,,,,,,,,,,,,,,,,,,
C3002,1,2225,8957,0,0,31,2,943,1740,9,...,1059,1009,1713,250,663,546,2,1987,1843,6347
C3003,1,5636,24572,0,1,56,0,1143,1773,23,...,1332,1432,2328,257,641,646,1,2173,1120,6458
C3004,0,2777,75820,0,1,271,0,1379,2636,42,...,1133,930,1224,309,774,922,0,1591,3587,5362
C3005,0,2662,4988,0,0,34,0,1324,2351,17,...,1520,1308,1994,138,522,824,3,1960,4929,6405
C3006,4,1461,43441,0,1,490,0,1068,1431,41,...,1086,1077,1619,190,512,747,15,1512,4508,6026

In [2]:
selection = 1

interesting = pd.read_csv("../data/human/IBD_interesting_genes.csv")
genes = list(interesting[interesting["Include (1,2)"] <= selection].Name)
genes

['ABCB1',
 'ABCG2',
 'ABCC1',
 'ABCC2',
 'ABCC3',
 'ABCC4',
 'SLC10A2',
 'SLC15A1',
 'SLC16A1',
 'SLC22A1',
 'SLC22A2',
 'SLC22A3',
 'SLC22A4',
 'SLC22A5',
 'SLC22A6',
 'SLC22A7',
 'SLC22A8',
 'SLC28A2',
 'SLC29A1',
 'SLC29A2',
 'SLC51A',
 'SLC51B',
 'SLCO2B1',
 'CYP1A2',
 'CYP2A6',
 'CYP2D6',
 'CYP2E1',
 'CYP3A4',
 'CYP3A5',
 'SULT1A1',
 'SULT1A3']

In [3]:
expression[genes]

human_gene,ABCB1,ABCG2,ABCC1,ABCC2,ABCC3,ABCC4,SLC10A2,SLC15A1,SLC16A1,SLC22A1,...,SLC51B,SLCO2B1,CYP1A2,CYP2A6,CYP2D6,CYP2E1,CYP3A4,CYP3A5,SULT1A1,SULT1A3
Participant_ID,,,,,,,,,,,,,,,,,,,,,
C3002,2265,2263,1393,10,6438,688,13,113,6464,4,...,1271,1984,0,0,21,2,44,1529,3252,4
C3003,8076,8286,1200,17,8237,2374,25,110,14695,3,...,2155,3316,0,1,49,5,379,1312,2606,1
C3004,1144,850,1896,20,5595,2031,3,77,5395,6,...,747,5416,0,0,78,12,233,750,978,1
C3005,4160,617,1072,22,11262,634,17,256,2643,10,...,1341,1020,0,0,16,4,296,11824,1707,1
C3006,608,811,2924,41,4544,1582,6,559,1614,10,...,692,3759,1,1,35,7,124,1485,1114,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P6017,7496,2559,1213,46,9444,1674,14,211,3148,10,...,1612,4539,1,1,10,14,271,7469,1437,3
P6018,1881,1254,1638,190,4577,1245,894,3078,854,10,...,1442,4084,0,0,163,33,1812,3158,1908,5
P6024,1476,332,3494,49,6538,1636,65,217,1277,14,...,749,4807,0,0,57,24,134,3726,870,2
P6025,6309,9502,1147,107,6971,1164,458,3530,7010,7,...,1330,3472,0,1,106,17,1126,2372,3022,4
P6028,2212,2980,1082,10,3494,1018,9,1620,2619,5,...,1071,2190,0,0,17,1,143,1226,2986,0

In [4]:
# store human expression data for selected genes

expression[genes].to_csv("../data/human/IBD_gene_expression_selection1.csv")